.heroSection {
  min-height: 100vh;
}
.heroContainer {
  display: flex;
  position: relative;
  flex-direction: column;
}
.heroSidebar {
  position: absolute;
  z-index: 10;
}

.heroContent {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  position: relative;
}

.heroName {
  color: white;
  position: absolute;
  font-size: 5rem;
  font-style: italic;
  font-weight: 900;
  letter-spacing: 5px;
  top: 100px;
  z-index: -1;
}

.heroBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: -2;
}

.heroImg {
  position: absolute;
  width: 500px;
  top: 150px;
}

.imgBox {
  display: flex;
  justify-content: center;
  height: 200px;
  width: 100%;
  gap: 450px;
  align-items: center;
}

.heroBtnContentViewPortfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.heroBtnGetInTouch {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: row-reverse;
}
