.stickFollowMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  max-width: 100px;
}

.stickFollowMe p {
  transform: rotate(-90deg);
  position: relative;
  top: 70px;
}

.stickFollowMe p::after {
  content: "";
  position: absolute;
  height: 2px;
  background: white;
  width: 40px;
  top: 12px;
  right: -60px;
}

.stickFollowMe p::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 6px solid white;
  border-right: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-top: 6px solid transparent;
  top: 7px;
  right: -70px;
}
