.portfolioBackLight {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: -1;
}

.portfolioBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.portfolioBtnContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
