.socialLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.socialLink {
  list-style: none;
  font-size: 25px;
}

.socialLink a {
  color: #c5c5c5;
}
