.backText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.backText p {
  -webkit-text-stroke: 2px var(--color-dark-gray);
  color: transparent;
  font-size: 5rem;
  font-style: italic;
  font-weight: 900;
  letter-spacing: 2px;
  z-index: -1;
  text-align: center;
}

.backText h1 {
  position: absolute;
  font-size: 2rem;
  background: -webkit-linear-gradient(
    180deg,
    var(--color-light-blue),
    var(--color-blue),
    var(--color-purple),
    var(--color-pink-dark)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 5px;
  text-align: center;
}
.backText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.backText span {
  display: inline-block;
}

/* Large Tablets and small labtops */
@media screen and (max-width: 1024px) {
  .backText p {
    font-size: 3rem;
    -webkit-text-stroke: 2px var(--color-dark-gray);
  }
  .backText h1 {
    font-size: 2rem;
  }
}
/* Tablets & large phones */
@media screen and (max-width: 768px) {
  .backText p {
    font-size: 3rem;
    -webkit-text-stroke: 1px var(--color-dark-gray);
  }
  .backText h1 {
    font-size: 2rem;
  }
}
/* Mobile phones */
@media screen and (max-width: 480px) {
  .backText p {
    font-size: 2.6rem;
    -webkit-text-stroke: 0.8px var(--color-dark-gray);
    padding: 10px;
  }
  .backText h1 {
    font-size: 1.5rem;
    padding: 20px;
  }
}

/* Small mobile phones */
@media screen and (max-width: 320px) {
}
